<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!-- appender : 로그 출력 매체 -->
<!-- logger : 로그 메시지 전달자 -->
<!-- layout : 로그 메시지 기록 형식 -->
<!-- event level : 로그 메시지의 이벤트 등급에 따라 메시지 출력여부 제한 가능 -->
<!-- 	debug -> info -> warn -> error -> fatal -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="jdbc.sqltiming" level="debug" />
  	<Logger name="jdbc.resultsettable" level="debug" />
  	<Logger name="kr.or.ddit" level="info" additivity="false"> <!-- additivty : 중복 관련 -->
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error"> <!-- 기본 로거 -->
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>