<html>
<head>
	<style type="text/css">
		td,th{
			border: 1px solid black;
		}
		table{
			border-collapse: collapse;
			background-color: yellow;
			color: red;
		}
		
	</style>
</head>
<body>
<table>
	<thead>
		<tr>
			<th colspan="9"><%=today %>에 랜더링한 구구단</th>
		</tr>
	</thead>
	<tbody>
		<%=gugudan %>
	</tbody>
</table>
</body>
</html>