<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<h4>이미지 선택</h4>
		<form action="./streaming.do" id="imageForm">
			<select name="image">
				<%=options %>
			</select>
			<input type="submit" value="전송" />
		</form>
		<div id="imageArea">
			
		</div>
		<script type="text/javascript">
			let selectTag = $("select[name='image']").on("change", function(){
// 				$(this.form).trigger("submit");
				$(this.form).submit();
			});
			let imageArea = $("#imageArea");
			const SRCPTRN = "./streaming.do?image=%v";
			let imageForm = $("#imageForm").on("submit", function(event){
				event.preventDefault();
// 				<img src="./streaming.do?image=%v" />
				let imageName = $(this.image).val();
				let imgTag = $("<img>").attr("src", SRCPTRN.replace("%v", "adfsd"));
				imageArea.html(imgTag);
				return false;
			});
		</script>
	</body>
</html>









